.dropbox {
	height: 200px;
	width: 200px;
	border: 2px dashed #DDD;
	margin: 0 auto 10px;
	text-align: center;
	line-height: 200px;
	color: #767676;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

span.chose-file {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	overflow: hidden;
}

span.chose-file input[type="file"]{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	cursor: pointer;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
}